.options-wrap {
  display: inline-flex;
  width: 100%;
}

.filter-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 50%;
}

.sort-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 50%;
}

.champions-wrap {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.champion-card {
  display: flex;
  width: 275px;
  height: 150px;
  border: 1px solid;
  margin-right: 10px;
  margin-bottom: 10px;
}

.champion-card .left {
  width: 100px;
  height: 100px;
}

.champion-card .right {
  margin-left: 10px;
  margin-top: 8px;
  width: 165px;
  height: 90px;
}