@font-face {
  font-family: 'Roboto-Regular';
  src: local('Roboto-Regular'), url('./static/fonts/Roboto-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto-Regular';
  -webkit-font-smoothing: antialised;
  color: #fff;
  background-color: #001436;
}

* {
  font-family: 'Roboto-Regular';
}
